<template>
  <div id="app">
    <div v-if="page === 0">
      <h3>Armaan's</h3>
      <h1>Intelligence Test</h1>
      <button v-on:click="changePage">PLAY</button>
    </div>
    <div v-if="page === 1">
      <h3>Q1: Musical</h3>
      <h2>If half an octave is represented by "x", what would be the third octave?</h2>
      <input type="radio" v-model="q1Ans" name="Q1" value="WRONG">2x<br>
      <input type="radio" v-model="q1Ans" name="Q1" value="WRONG">3x<br>
      <input type="radio" v-model="q1Ans" name="Q1" value="CORRECT">6x<br>
      <input type="radio" v-model="q1Ans" name="Q1" value="WRONG">what?<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 2">
      <h3>Q2: Verbal/Linguistic</h3>
      <h2>If you were to build a program to find long or fancy words, what’s the best thing to look for?</h2>
      <input type="radio" v-model="q2Ans" name="Q2" value="WRONG">First letter of the word<br>
      <input type="radio" v-model="q2Ans" name="Q2" value="WRONG">Type of word<br>
      <input type="radio" v-model="q2Ans" name="Q2" value="CORRECT">Length of the word<br>
      <input type="radio" v-model="q2Ans" name="Q2" value="WRONG">Number of total words<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 3">
      <h3>Q3: Intrapersonal</h3>
      <h2>Do most programmers prefer to work alone?</h2>
      <input type="radio" v-model="q3Ans" name="Q3" value="CORRECT">Yeah<br>
      <input type="radio" v-model="q3Ans" name="Q3" value="WRONG">Nah<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 4">
      <h3>Q4: Interpersonal</h3>
      <h2>If your friend messed up on some code both of you were working on, what would do you?</h2>
      <input type="radio" v-model="q4Ans" name="Q4" value="WRONG">Scold your friend<br>
      <input type="radio" v-model="q4Ans" name="Q4" value="CORRECT">Go over the mistake<br>
      <input type="radio" v-model="q4Ans" name="Q4" value="WRONG">Move on<br>
      <input type="radio" v-model="q4Ans" name="Q4" value="WRONG">Quit with your friend and work alone<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 5">
      <h3>Q5: Logical/Mathematical</h3>
      <h2>If x = y and y = 2z, and x = 4, what is z</h2>
      <input type="radio" v-model="q5Ans" name="Q5" value="WRONG">4<br>
      <input type="radio" v-model="q5Ans" name="Q5" value="CORRECT">2<br>
      <input type="radio" v-model="q5Ans" name="Q5" value="WRONG">Undef<br>
      <input type="radio" v-model="q5Ans" name="Q5" value="WRONG">1<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 6">
      <h3>Q6: Visual Spatial</h3>
      <h2>In (R,G,B), R represents the amount of red, B for blue, and G for green</h2>
      <h2>What would the RGB value for <span style="color: red">red</span></h2>
      <input type="radio" v-model="q6Ans" name="Q6" value="CORRECT">(280,0,0)<br>
      <input type="radio" v-model="q6Ans" name="Q6" value="WRONG">(0,280,0)<br>
      <input type="radio" v-model="q6Ans" name="Q6" value="WRONG">(0,0,280)<br>
      <input type="radio" v-model="q6Ans" name="Q6" value="WRONG">(90,90,0)<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 7">
      <h3>Q7: Bodily Kinesthetic</h3>
      <h2>How many degrees can a servo motor be programmed to move?</h2>
      <input type="radio" v-model="q7Ans" name="Q7" value="WRONG">360<br>
      <input type="radio" v-model="q7Ans" name="Q7" value="CORRECT">180<br>
      <input type="radio" v-model="q7Ans" name="Q7" value="WRONG">90<br>
      <input type="radio" v-model="q7Ans" name="Q7" value="WRONG">270<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 8">
      <h3>Q8: Naturalistic</h3>
      <h2>Do you think the real and digital world should mesh together?</h2>
      <input type="radio" v-model="q8Ans" name="Q8" value="CORRECT">Duh.<br>
      <input type="radio" v-model="q8Ans" name="Q8" value="WRONG">F**k that, I didn't signup for the singularity.<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 9">
      <h3>Q9: Convergent</h3>
      <h2>What doesn't qualify as a possible variable?</h2>
      <input type="radio" v-model="q9Ans" name="Q9" value="WRONG">x<br>
      <input type="radio" v-model="q9Ans" name="Q9" value="WRONG">b<br>
      <input type="radio" v-model="q9Ans" name="Q9" value="CORRECT">&<br>
      <input type="radio" v-model="q9Ans" name="Q9" value="WRONG">y33<br>
      <button v-on:click="changeQuestion">NEXT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 10">
      <h3>Q10: Divergent</h3>
      <h2>What are possible coding related careers</h2>
      <input type="radio" v-model="q10Ans" name="Q10" value="CORRECT">Software Developer<br>
      <input type="radio" v-model="q10Ans" name="Q10" value="CORRECT">Programmer<br>
      <input type="radio" v-model="q10Ans" name="Q10" value="WRONG">Data Analysist<br>
      <input type="radio" v-model="q10Ans" name="Q10" value="WRONG">Basketball Player<br>
      <button v-on:click="submit">SUBMIT</button>
      <h4>Current Score: {{ this.score }}</h4>
    </div>
    <div v-if="page === 11">
      <h3>You Are:</h3>
      <h2>{{ this.intelligence }}</h2>
      <h4>Your Score: {{ this.score }}</h4>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data() {
      return {
        page: 0,
        score: 0,
        intelligence: null,
        q1Ans: null,
          q2Ans: null,
          q3Ans: null,
          q4Ans: null,
          q5Ans: null,
          q6Ans: null,
          q7Ans: null,
          q8Ans: null,
          q9Ans: null,
          q10Ans: null,
      }
    },
    methods: {
      changePage() {
          this.page++;
      },
      submit() {
        if (this.score < 30) {
          this.intelligence = "Not good at this. Don't code.";
        }
        else if (this.score > 30 && this.score < 50) {
          this.intelligence = "You've got a good idea about it, but you need more work.";
        }
        else if (this.score > 50 && this.score < 70) {
          this.intelligence = "Wow, you don't suck at this.";
        }
        else {
          this.intelligence = "Your basically a genius.";
        }
        this.page++;
      },
      changeQuestion() {
          const p = this.page;
          if (p === 1) {
              if (this.q1Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else if (p === 2) {
              if (this.q2Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else if (p === 3) {
              if (this.q3Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else if (p === 4) {
              if (this.q4Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else if (p === 5) {
              if (this.q5Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else if (p === 6) {
              if (this.q6Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else if (p === 7) {
              if (this.q7Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else if (p === 8) {
              if (this.q8Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else if (p === 9) {
              if (this.q9Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          else {
              if (this.q10Ans === "CORRECT") {
                  this.score += 10;
              }
          }
          this.page++;
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
    padding: 50px 35px;
  }

  h1, h2, h3, h4 {
    text-align: center;
  }

  h2 {
    padding-bottom: 10px;
  }

  input[type="radio"] {
    margin: 10px 0px;
  }

  button {
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    color: white;
    background-color: red;
    padding: 10px 50px;
    border: none;
  }
</style>
